#header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 7rem;
}

.large{
    font-size: x-large;
}

.link:link{
    color: #FFFFFF;
    text-decoration: none;
}

.link:visited{
    color: #FFFFFF;
}

#footer{
    display: flex;
    flex-direction: row;
    line-height: 1.8;
    justify-content: space-evenly;
    background-color: #242834;
    margin: 0;
    color: #DFDFE4;
    height: 7rem;
}

ul{
    list-style-type: none;
}

  
.grid {
    display: grid;
    padding: 7px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.block {
    display: flex;
    flex-direction: column;
    line-height: 1.8;
    border-radius: 7px;
    border-color: #DFDFE4;
    color: black;
    background-color: palegoldenrod;
    margin: 5px;
    text-align: center;
}
  
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.DateCell{
    min-height: 13vh;
    background-color: rgb(43, 43, 43);
    border-color:aqua;
    border: 10px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title{
    color: #FFFFFF;
}

.leftSide{
    left:0;
}

/* .absolute-left{
    position: absolute;
    left: 0;
    top: 7em;
    display: flex;
} */

.rightSide{
    right:0;
}

.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 7rem;
    background-color: #242834;
    min-height: calc(100vh - 7rem - 7rem);
    overflow: hidden;
}

.flex-right{
    display: flex;
    justify-content: flex-end;
}

.flex-grow-side{
    flex-grow: 1;
}

.side{
    width: 15%;
}

.infoList{
    line-height: 1.8;
    background-color:#151515;
    margin-bottom: 1em;
}

.doit{
    background-color: #fffbb441;
}

#clickBlock{
    width: 15em;
}