#header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 3em;
}

.large{
    font-size: x-large;
}

.link:link{
    color: black;
    text-decoration: none;
}

.link:visited{
    color: black;
}

#footer{
    display: flex;
    flex-direction: row;
    line-height: 1.8;
    justify-content: space-evenly;
    background-color: rgb(209, 209, 209);
    margin: 0;
}

ul{
    list-style-type: none;
}