#sign{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

aside{
    display: flex;
    flex-direction: column;
    width: 30vw;
    min-height: calc(100vh - 7rem - 7rem);
    background-color: #B87EED;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

@keyframes leftmove {
    from {transform: translate3d(-50vw, 0, 0);}
}

@keyframes rightmove {
    from {transform: translate3d(50vw, 0, 0);}
}

#title{
    font-size: 3em;
    font-weight: 900;
    padding: 0 0 1em 0 ;
}

.panel{
    width: calc(80vw - 30vw);
}

.leftmove{
    animation: leftmove 2s;
}

.rightmove{
    animation: rightmove 2s;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    
#signForm{
    width: 42em;
    height: 3em;
    border:none;
    border-radius: 10em;
    background-color: lightgray;
    margin: 10px;
}
    
button{
    background-color: CFFF5E;
    margin:20px;
    color:black ;
    border: none;
    border-radius: 10em;
    width: 10em;
    height: 2.5em;
    font-size:medium;
}

#workout{
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;

    /* display: flex;
    flex-direction: row; */
    width: 100vw;
    min-height: calc(100vh - 7rem - 7rem);
}

#searchResults{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#videoLists{
    column-count: 3;
}