#box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 9.59264px;
    gap: 9.59px;

    width: 1253.76px;
    height: 730px;

    background: rgba(24, 24, 24, 0.0941176);
    animation: 0.2s ease-in-out loadEffect1;
}

#left {
    display: flex;
    flex-direction: column;
    gap: 9.59px;

    width: 969.82px;
    height: 710.81px;
}

#right {
    display: flex;
    flex-direction: column;
    gap: 9.59px;

    width: 255.16px;
    height: 710.81px;
}

#up {
    display: flex;
    flex-direction: row;

    gap: 9.59px;

    width: 969.82px;
    height: 218.71px;
}

#now {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 467.16px;
    height: 218.71px;

    background: #8C7DFF;
    border-radius: 33.5742px;
}

#rest {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 241.73px;
    height: 218.71px;

    background: #B87EED;
    border-radius: 33.5742px;
}

#timer {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 241.73px;
    height: 218.71px;

    background: #242834;
    border-radius: 33.5742px;
}

#down {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 9.59px;

    width: 969.82px;
    height: 482.51px;
}

#progress {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 0px;
    
    position: relative;
    width: 235.02px;
    height: 453.75px;

    overflow: hidden;
    
    background: #DFDFE4;
    border-radius: 33.5742px;
}

#video {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;

    width: 719.45px;
    height: 482.51px;

    background: #CFFF5E;
    border-radius: 33.5742px;

}

#list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 255.16px;
    height: 496.9px;

    background: #B87EED;
    border-radius: 33.5742px;
}

#start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    width: 255.16px;
    height: 204.32px;

    background: #8C7DFF;
    border-radius: 33.5742px;
}

input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@keyframes loadEffect1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}