body{
  margin: 0;
  background-color: #181818;
  color: #FFFFFF;
}

#main-content{
  min-height: calc(100vh - 10rem - 10rem);
}
  
  
  /* 
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  } */