#start-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 205px;
    height: 135px;
}

.today {
    width: 210px;
    height: 39px;

    font-weight: 600;
    font-size: 32px;
    line-height: 50px;

    text-align: center;

    color: #181818;
    align-self: stretch;
}

#start-container button {
    width: 177px;
    height: 76px;

    border-radius: 22px;
    cursor: pointer;

    flex: none;
}

.stop-button {
    background: #B87EED;
}

.start-button {
    background: #242834;
}

.start-button:hover {
    background-color: #616368;
}

.stop-button:hover {
    background-color: #d9b5fc;
}

#start-container span {
    width: 92px;
    height: 39px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;

    color: #DFDFE4;
}