#timer-container {
    /* Frame 629433 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    width: 241.73px;
    height: 218.71px;



}

.time-text {
    display: flex;
    width: 105px;
    height: 55px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 55px;
    /* identical to box height */
    text-align: center;
    align-items: center;
    letter-spacing: 0.01em;
    font-weight: 600;

    text-shadow: 0px 1.15224px 2.30448px rgba(0, 0, 0, 0.16);

    /* Inside auto layout */

}

.circle {
    /* Auto layout */
    display: flex;
    padding: 0px;
    width: 200px;
    height: 200px;
}

.inside-circle {
    cx: 100;
    cy: 80;
    r: 60;
    stroke: #2E2E2E;
    stroke-width: 20;
    fill: none;
}

.outside-circle {
    cx: 60;
    cy: 100;
    r: 60;
    fill: none;
    stroke-dasharray: 376.99;
    stroke-linecap: round;
}

.time-over {
    color: #B87EED;
    stroke: #B87EED;
}

.time-off {
    color: #8C7DFF;
    stroke: #6C63FF;
}