#video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 19.19px;

    width: 690.71px;
    height: 90%;
    overflow-y: auto;
    -ms-overflow-style: none;
    box-sizing: border-box;

}

#video-container::-webkit-scrollbar {
    display: none;
}


.video-info {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 8.67px;

    cursor: pointer;
    color: #000000;
    width: 650.71px;
    height: 126.62px;

    background: #DFDFE4;
    border-radius: 33.5742px;

    cursor: grab;
    transition: transform 0.2s ease, background 0.2s ease;

}

.video-info:active {
    cursor: grabbing;
    background: #e0e0e0;
}

.video-info.dragging {
    opacity: 0.6;
    background: #e0f7fa;
    transform: scale(1.05); /* 드래그 중인 항목 강조 */
}

.video-info img {
    width: 120px;
    height: 80px; 
    border-radius: 16px;
    object-fit: cover; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.rest-period {
    display: flex;
    justify-content: center;
    gap: 9.59px;
    padding: 10px;
    width: 650.71px;
    height: 60.04px;

    background: #8C7DFF;
    border-radius: 14.389px;
}